@import "bourbon/bourbon" ;

* { box-sizing: border-box;}

ul {
	list-style-type: none;
	padding: 0;
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;}

html.js .loader	.loader_inner {
		background-image: url("../img/preloader.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #fff;
		height: 60px;
		width: 60px;
		margin-top: -30px;
		margin-left: -30px;
		left: 50%;
		top: 50%;
		position: absolute;
	}

body {
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	color:  #2a2a2a;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: red;
}

body input:required:valid,
body textarea:required:valid{
	color: green;
}

h1 {
	font-size: 50px;
	color: #2a2a2a;
	line-height: 50px;
	text-transform: uppercase;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	color: #2a2a2a;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 20px;
}

h4 {
	font-size: 20px;
	color: #2a2a2a;
	line-height: 26px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 20px;
}
p {
	font-size: 16px;
	line-height: 22px;
	color: rgba(42, 42, 42, 0.85);
}

.left {float: left;}
.right {float: right;}
.hidden{display: none;}

.home {
	width: 100%;
	min-height: 900px;
	background: url(../img/home-bg.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.logo {
	display: inline-block;
	font: bold 24px/24px 'Lato';
	color: #fff;
	margin: 35px 10px 0 10px;

}

.menu {
	margin-top: 40px;
	float: right;
}
.menu ul {
	margin: 0;
	padding: 0;
}

.menu li {
	display: inline-block;
	float: left;
	margin-left: 30px;
}

.menu li:first-child { margin-left: 0;}

.menu a {
	padding: 0 5px 20px 5px;
	font:  bold 14px/24px 'Lato';
	color: #fff;	
}

.menu a:hover {
	border-bottom: 3px solid #cd3737;
}

.home-title { 
	text-align: center;
	margin-top: 240px; 
}

.home-title h1 {
	font: normal 44px/44px 'Open Sans';
	color: #999;
	margin-bottom: 20px;
}

.home-title span {
	font-weight: bold;
	color: #fff;
}

.home-title h5 {
	margin: 0 0 75px 0;
	vertical-align: middle;
	font: normal 20px/24px 'Open Sans';
	color: rgba(255, 255, 255, 0.75);
}

.home-title h5 span { 
	color: #c5c5c5
}

.btn {
	display: block;
	vertical-align: middle;
	text-align: center;
	width: 260px;
	height: 57px;
	margin: 0 auto;
	background-color: #cd3737;
	font: bold 16px/57px 'Lato';
	color: #fff;
	cursor: pointer;
	border: 1px solid #cd3737;
	transition: all 100ms linear;
}

.btn:hover {
	background-color: transparent;
	color: #cd3737;
	border: 1px solid #cd3737;
}

.arrow {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin-top: 240px;
	border: 3px solid #c2c2c2;
	border-radius: 50%;
	background: url(../img/arrow.png) no-repeat 50% 50%;
}

.arrow:hover { background-color: #cd3737;}

//=============WHY US=====================//

.why-us {
	min-height: 1090px;
}

.section-title {
	display: block;
	position: relative;
	margin-top: 75px;
	text-align: center;
	margin-bottom: 110px;
}

.section-title span {
	font-weight: 300;
}

.first-line,
.second-line {
	position: absolute;
	display: block;
	width: 151px;
	height: 1px;
	background-color: #2a2a2a;
}

.first-line {
	left: 42%;
	bottom: -20px;
}

.second-line {
	left: 46%;
	bottom: -30px;
}

.section-item {
	text-align: center;
}

.section-item__img {
	position: relative;
	display: inline-block;
	width: 151px;
	height: 151px;
	border-radius: 50%;
	border: 2px solid #2a2a2a;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.compas { 
	background-image: url(../img/compas.png); 
	background-position: 47% 62%;
}
.camera { background-image: url(../img/camera.png); }
.cup { background-image: url(../img/cup.png); }

.dyga {
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	width: 87px;
	height: 87px;
	background: url(../img/dyga.png) no-repeat;
	background-size: cover;

	animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 0 0;
}
.fast { animation-duration: 4000ms; }
.medium { animation-duration: 6000ms; }
.low { animation-duration: 8000ms; }

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.section-item__info {
	margin-bottom: 80px;
}

.dop-info {
	margin-bottom: 80px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #2a2a2a;
}


.dop-info p::before,
.dop-info p::after {
	display: inline-block;
	vertical-align: middle;
	content: '';
	width: 30px;
	height: 1px;
	background-color: #2a2a2a;
} 

.dop-info p::before {
	margin-right: 10px;
}

.dop-info p::after {
	margin-left: 10px;
}

.why-us .btn {
	margin-top: 140px;
	margin-bottom: 80px;
}


//=====================CASE-STUDIES========
.case-studies {
	min-height: 720px;
	background: url(../img/case-studies-bg.png) no-repeat 50% 50%;
	background-size: cover;
	text-align: center;
}

.img-wrap {
	display: inline-block;
	width: 155px;
	height: 155px;
	border-radius: 50%;
	border: 4px solid #2a2a2a;
}

.cola { background: url(../img/case-img1.png) no-repeat 50% 50%;}
.beer { background: url(../img/case-img2.png) no-repeat 50% 50%;}
.whiski { background: url(../img/case-img3.png) no-repeat 50% 50%;}
.snickers { background: url(../img/case-img4.png) no-repeat 50% 50%;}


.case-studies p {
	font-size: 15px;
	line-height: 22px;
	font-style: italic;
	color: rgba(42, 42, 42, 0.65);
	margin-bottom: 30px;
}
.case-studies .btn {
	width: 123px;
	height: 38px;
	line-height: 38px;
	margin-bottom: 75px;
}

//===========PORTFOLIO=============//

// .portfolio {
// 	min-height: 1140px;
// }

.portfolio .section-title {
	margin-bottom: 160px;
}

.filter-wrap {
	border-top: 1px solid #2a2a2a;
	border-left: 1px solid #2a2a2a;
	border-right: 1px solid #2a2a2a;
	height: 24px;
}

.filter {
	 float: left;
	display: inline-block;
	margin-bottom: 50px;
}

.filter p {
	font-size: 18px;
	line-height: 26px;
	color: #cd3737;
	text-align: left;
	margin: 0;
	padding-left: 17px;
}

.types {
	display: inline-block;
	float: right;
}

.types ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.types li {
	display: inline-block;
	float: left;
	padding: 0 17px;
	border-right: 1px solid #2a2a2a;
}

.types li:last-child { border-right: none;}

.types a { color: #2a2a2a; }

.types a:hover {color: #cd3737;}
.active a {
	font-weight: 700;
	color: #cd3737;
	}

.portfolio-item-wrap {
	display: block;
	max-width: 100%;
	overflow: hidden;
	float: left;
	height: auto;
	max-height: 500px;
	margin-bottom: 120px;
}

.portfolio-item {
	display: inline-block;
	float: left;
	text-align: center;
	width: 33%;
}

.portfolio-item img {
	max-width: 100%;
	height: auto;
	cursor: pointer;
}

.btn-wrapper {
	display: block;
}

.portfolio .btn {
	margin-bottom: 38px;
}

.first-underline {
	width: 260px;
	height: 1px;
	margin: 0 auto;
	background-color: #2a2a2a;
	margin-bottom: 9px;
}

.second-underline {
	width: 165px;
	height: 1px;
	margin: 0 auto;
	background-color: #2a2a2a;
	margin-bottom: 83px;
}

//=========REVIEWS==========//
.testimonials {
	position: relative;
	min-height: 717px;
	background: url(../img/reviews-bg.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.testimonials .section-title h1 {
	color: #fff;
}

.testimonials .first-line,
.testimonials .second-line {
	background-color: #fff;
}

.testimonials p.quote,
.testimonials .author  {
	text-transform: uppercase;
	text-align: center;
	font-size: 17px;
	color: rgba(255, 255, 255, 0.85);
	margin-bottom: 45px;
}

.testimonials .author {
	text-transform: none;
}

.request {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 114px;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	line-height: 114px;
	background-color: #cd3737;
	cursor: pointer;
}

.request:hover {
	text-decoration: underline;
}

//========CONTACTS=========//

.contacts {
	min-height: 880px;
}

.contact-form {
	display: block;
	max-width: 942px;
	margin: 0 auto;
}

.name,
.email {
	width: 100%;
	height: 57px;
}
.name-wrap {
	float: left;
	width: 49%;
}
.email-wrap {
 	float: right;
 	width: 49%;
}

.message {
	height: 277px;
	width: 100%;
	resize: none;
	margin-bottom: 50px;
}

.contact-form label {
	display: block;
	font-size: 18px;
	padding-bottom: 15px;
}

.contact-form input {
	font-size: 24px;
	color: #cd3737;
	margin-bottom: 50px;
}

.contact-form button {
	border: 1px solid #cd3737;
}

// =====FOOTER===== //

.footer {
	height: 133px;
}

.separator-footer {
	max-width: 943px;
	height: 1px;
	background-color: #2a2a2a;
	margin: 0 auto;
	margin-bottom: 30px;
}

.copyright {
	text-align: center;
	font-size: 12px;
	margin-bottom: 30px;
}

.copyright span {color: #cd3737;}

.social {text-align: center;}

.social .social-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 20px;
	border: 2px solid #2a2a2a;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-image: url(../img/social-icons.png)
}


.fb {background-position: 5px 3px}
.tw	{background-position: 2px -115px};
.in	{background-position: 2px -46px};


.fb:hover {background-position: 5px -23px}
.tw:hover	{background-position: 2px -92px};
.in:hover	{background-position: 2px -68px};

.social-icon:hover {
	border: 2px solid #cd3737;
}


//MOBILE MENU///
/* Menu Appearance */

.pushy{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: #333332;
    font-size: 0.9em;
    font-weight: bold;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

.pushy a{
    display: block;
    color: #b3b3b1;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    text-decoration: none;
}

.pushy a:hover{
    background: #00b4ff;
    color: #FFF;
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,0.5);
    -webkit-animation: fade 500ms; 
    -moz-animation: fade 500ms; 
    -o-animation: fade 500ms;
    animation: fade 500ms;
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

//menu button 
.menu-btn {
	display: none;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 25px;

}